
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title Заявка на участие

				+input("телефон",'tel')(required)  
				+input("название организации")(required)  
				+input("E-ФИО")(required)  
				+input("E-mail*")(required)  
				+input("Должность")(required)  
				+input("Дополнительно",'textarea')(required)
				+e.BUTTON.btn(type="submit"  )   Подать заявку
				+policy()
			+e.footer
	// #modal-call
	
	// end modals