mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.row
				.col-lg-6
					+pic("about-left.png").mb-3
				+e.col.col-lg-6 
					h2 О проекте
					p: strong КУЛИНАРНЫЙ ФЕСТИВАЛЬ КУЛЬТУРНОЕ НАСЛЕДИЕ «МОРОЖЕНОЕ 2022»
					p Единственная коллаборация кулинарии через историю России, уникальное мероприятие, сочетающее разновидные сорта мороженого, лимонадов, сладостей. Также Вы&nbsp;встретитесь с&nbsp;героями из&nbsp;народных сказок и&nbsp;историческими фактами не&nbsp;отступая от&nbsp;современного мира.

					p Вас будут ждать популярные форматы активностей: <br> кулинарные&nbsp;новинки, мастер-классы, интерактивные программы, арт-объекты, различные выставки, фотозоны, а&nbsp;также море музыки, впечатлений и&nbsp;незабываемых эмоций!
	// end sAbout