mixin sExperts(data)
	// start sExperts
	+b.sExperts.section#sExperts&attributes(attributes)
		.container
			.row
				.col-xl-4
					+e.btn(href="modal-call").link-modal-js Для экспонентов и&nbsp;партнеров
				.col.order-xl-first
					+img("img/sExpert-img.png")
	// end sExperts