mixin sHoliday(data)
	// start sHoliday
	+b.SECTION.sHoliday.section#sHoliday&attributes(attributes)
		.container
			+b.section-title
				h2 Москва встречает ПРАЗДНИК ДЕТСТВА , МОРОЖЕНОГО, СЛАДОСТЕЙ И&nbsp;ПУТЕШЕСТВИЯ!
				+img('img/sHoliday-2.png')
				+img('img/sHoliday-1.svg')
			.row
	// end sHoliday